name: PR Checks

on:
  pull_request:
    branches: [main]

permissions:
  contents: write
  pull-requests: write

jobs:
  actionlint:
    name: Lint workflows
    uses: AutomationDojo/reusable-cicd/.github/workflows/actionlint.yml@main

  go-build-and-test:
    name: Build and test
    uses: AutomationDojo/reusable-cicd/.github/workflows/golang-cli-apps_build-and-test-pr.yml@main
    with:
      pre-test: make setup-envtest
      test-cmd: make test
      build-cmd: make build

  helm-lint:
    name: Lint Helm chart
    uses: AutomationDojo/reusable-cicd/.github/workflows/helm-lint.yml@main
    with:
      config: .github/configs/ct.yaml

  helm-docs:
    name: Update chart docs
    uses: AutomationDojo/reusable-cicd/.github/workflows/helm-docs.yml@main
    with:
      chart_search_root: charts/
      values_file: values.yaml
      output_file: README.md
      git_push: true
      git_commit_message: "docs: update helm-docs"
    secrets:
      GITHUB_APP_ID: ${{ secrets.DEVOPS_BUDDY_APP_ID }}
      GITHUB_APP_PRIVATE_KEY: ${{ secrets.DEVOPS_BUDDY_PRIVATE_KEY }}
